@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body {
    height: 100vh;
    font-family: 'Abril Fatface', cursive;
    background-image: url(../Assets/img/quote.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .quote-container {
        margin: 0 auto;
    }


    img {

        border-radius: 50%;
        width: 75px;
        height: 75px;
        margin: 0 auto;

    }


    blockquote {
        font-size: 24px;
        margin-bottom: 10px;




        cite {
            font-size: 18px;
            font-style: italic;


        }
    }


    button {
        font-size: 18px;
        font-family: 'Abril Fatface', cursive;
        padding: 10px 20px;
        background-color: #0a0a0a;
        color: #d8d1d1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        max-width: 100%;

        &:hover {
            background-color: #444b38;
            color: #fff;
        }
    }

}